* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18;
}

#window, #outer-box {
    background-color: #181825;
    color: #b4befe;
    border: 4px solid #b4befe;
    border-radius: 4px;
}

#input {
    background-color: #181825;
    color: #b4befe;
    border: none;
    border-radius: 0;
    outline: none;
}

#scroll {
    background-color: #181825;
    color: #b4befe;
    outline: none;
    border: none;
}

#img {
    margin-right: 8px;
}

#entry:selected {
    background-color: #b4befe;
    color: #cdd6f4;
}

#entry {
    width: 50%;
}

#input:focus {
    outline: none;
    border: none;
}
